.ce_memberdisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.idcard {
    display: grid;
    grid-template-columns: 16px 1fr 1fr; /* Drei Spalten: links mit 16px, die mittlere und rechte Spalte teilen sich den Rest */
    grid-template-rows: auto;
    width: 500px; /* Breite der Visitenkarte */
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image {
    grid-column: 1; /* Erste Spalte */
    background-color: #f4f4f4;
    height: 100px;
    margin-right: 10px;
}

.personal {
    grid-column: 2; /* Zweite Spalte */
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.vcard {
    text-align: right;
    margin-top: 10px;
}

.qrcode {
    grid-column: 3; /* Dritte Spalte */
    background-color: #f4f4f4;
    height: 100px;
    margin-left: 10px;
}

.personal .vcard {
    align-self: flex-end; /* Rechtsbündige Ausrichtung der vCard */
}
