
{% block content %}
<div class="ce_memberdisplay">
    <div class="idcard">
        <div class="image">

        </div>
        <div class="personal">
            {{ member.firstname }}

            <div class="vcard">
                {{ vcard }}
            </div>
        </div>
        <div class="qrcode">

        </div>

    </div>
</div>
{% endblock %}
